# ======================
# .NET
# ======================
bin/
obj/

# ======================
# Frontend (React)
# ======================
node_modules/
dist/

# ======================
# Environment
# ======================
.env

# ======================
# IDE / OS
# ======================
.vscode/
.idea/
.DS_Store
