.sidebar {
    width: 260px;
    background-color: #051F20;
    min-height: 100vh;
    padding: 20px;
    color: #DAF1DE;
}

.sidebar h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #DAF1DE;
}

.sidebar a {
    display: block;
    padding: 12px 16px;
    margin-bottom: 12px;
    background-color: #0B2B26;
    border-radius: 10px;
    color: #DAF1DE;
    text-decoration: none;
    transition: 0.2s;
}

.sidebar a:hover {
    background-color: #163832;
}
